@import '../../index.scss';

.navbar {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  
  &-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__logo {
      margin-right: 2rem;

      img {
        width: 65px;
        height: 15px;
      }
    }

    &__container {
      display: flex;
      flex-direction: row;

      p {
        color: $color-nav;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        text-transform: capitalize;
        margin: 0 1.5rem;
        cursor: pointer;
      }
    }
  }

  &-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      padding: 0.5rem 1rem;
      color: $color-nav;
      background: $color-btn;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 5px;
    }

    p {
      color: $color-nav;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      text-transform: capitalize;
      margin: 0 1.5rem;
      cursor: pointer;
    }
  }

  &-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
    
    svg {
      cursor: pointer;
    }

    &__container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      
      text-align: end;
      background: $color-footer;
      padding: 2rem;
      position: absolute;
      right: 0;
      top: 40px;
      margin-top: 1rem;
      min-width: 210px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);

      p {
        margin: 1rem 1rem;
        color: $color-nav;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        text-transform: capitalize;
        margin: 0 1rem;
        cursor: pointer;
      }
      &-sign {
        display: none;

        button {
          padding: 0.5rem 1rem;
          color: $color-nav;
          background: $color-btn;
          font-weight: 500;
          font-size: 18px;
          line-height: 25px;
          border: none;
          outline: none;
          cursor: pointer;
          border-radius: 5px;
        }
      }
    }
  }
}


@media screen and (max-width: 1025px) {
  .navbar-links__container {
      display: none;
  }

  .navbar-menu {
      display: flex;
  }
}

@media screen and (max-width: 769px) {
  .navbar {
      padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 2rem;

    &-sign {
        display: none;
    }

    &-menu_container {
        top: 20px;

        &-sign {
          display: block;
      }
    } 
  }
}